body { background: #1dd6a3; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 47px; display: flex; }
.block-filter-0 { color: #82be84; font-size: 17px; margin-bottom: 5px; }
.block-user-1 { color: #5198c3; font-size: 20px; margin-bottom: 5px; }
.block-uploader-2 { color: #77279c; font-size: 13px; margin-bottom: 5px; }
.block-order-3 { color: #f07d84; font-size: 12px; margin-bottom: 5px; }
.block-helper-4 { color: #6bf1f9; font-size: 19px; margin-bottom: 5px; }
.block-filter-5 { color: #9b726c; font-size: 17px; margin-bottom: 5px; }